:root {
  --progress: 0;
  --ratio: 90;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  padding: 0;
}

#error {
  color: rgb(243, 75, 75);
}

.xAxis line {
  stroke: #b8b8b8;
}

.info::before {
  content: '?';
  font-family: sans-serif;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  line-height: 1.1;
  display: inline-block;
  width: 1.8ex;
  height: 1.8ex;
  border-radius: 1ex;
  color: white;
  background: gray;
  border: thin solid gray;
  margin-top: -2px;
  margin-left: 2px;
}

.info:hover::before {
  color: gray;
  background: white;
  border-color: gray;
}

#output {
  height: 200px;
  overflow-y: scroll;
  background-color: #000;
  color: #fff;
  border: 2px solid gray;
  border-radius: 4px;
}

.channel-number {
  display: block;
  margin: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.bg-1 {
  background: #df5f5f;
}

.bg-2 {
  background: #df9d5f;
}

.bg-3 {
  background: #d7df5f;
}

.bg-4 {
  background: #79df5f;
}

.bg-5 {
  background: #5fdfbf;
}

.bg-6 {
  background: #5f61df;
}

.bg-7 {
  background: #a55fdf;
}

.bg-8 {
  background: #df5faa;
}

canvas {
  height: 80px !important;
}

@import url(https://fonts.googleapis.com/css?family=Lato:700);

.recording {
  background: #1e1e1e;
  color: #444;
  font-family: "Lato", Tahoma, Geneva, sans-serif;
  font-size: 4em;
  padding: 10px;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
}

.recording > *,
.recording > *:before,
.recording > *:after {
  box-sizing: border-box;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  opacity: .5;
}

.pie-wrapper .label {
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
  background: transparent;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper:before {
  content: "";
  display: block;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#3498db calc(var(--progress)*100%),#34495e 0);
}

#reading {
  text-transform: uppercase;
  font-size: 2em;
  color: #eee;
}


#trainingratio::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #0d6efd 0%, #0d6efd calc(var(--ratio) * 1%), lightgray calc(var(--ratio) * 1%), lightgray 100%);
}

#trainingratio::-moz-range-track {
  background: linear-gradient(to right, #0d6efd 0%, #0d6efd calc(var(--ratio) * 1%), lightgray calc(var(--ratio) * 1%), lightgray 100%);
}

#trainingratio::-ms-track {
  background: linear-gradient(to right, #0d6efd 0%, #0d6efd calc(var(--ratio) * 1%), lightgray calc(var(--ratio) * 1%), lightgray 100%);
}